* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 70px;
    padding-right: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 600;
    text-decoration: none;
}

nav .logo_name {
    display: flex;
    align-items: center;
}


.nav_links ul {
    display: flex;
    gap: 50px;
}

.nav_links ul li {
    list-style: none;
    font-size: 15px;
    scroll-behavior: smooth;
}


.hero_title {
    background: rgb(207, 207, 207);
    background: linear-gradient(180deg, rgba(207, 207, 207, 1) 0%, rgba(251, 251, 251, 1) 52%, rgba(207, 207, 207, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
}


.hero_title .left_text p {
    padding-top: 20px;
    padding-bottom: 20px;
}


.hero_title .left_text button {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #0077B6;
    padding: 10px;
    color: #0077B6;
    cursor: pointer;
}

.card_section {
    text-align: center;
    padding: 20px;
}

.card_section h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
    cursor: pointer;
}

.product_name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.price {
    font-size: 16px;
    color: #1e1e1e;
}

.old_price {
    text-decoration: line-through;
    color: red;
    margin-left: 10px;
    font-size: 14px;
}

footer {
    background: rgb(57, 57, 57);
    background: linear-gradient(60deg, rgba(57, 57, 57, 1) 34%, rgba(30, 30, 30, 1) 67%);
    color: #d8d8d8;
    margin-top: 40px;
}

.footer_bothside {
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    color: #d8d8d8;
    display: flex;
    align-items: center;
}

.footer_leftside {
    font-size: 15px;
}

.footer_leftside p {
    line-height: 25px;
}

.logo_text {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    gap: 10px;
}

.logo_text img {
    cursor: pointer;
}

.logo_text h2 {
    cursor: pointer;
}


.footer_rightside {
    padding-right: 300px;
    font-size: 15px;
}


.footer_rightside h2 {
    padding-bottom: 20px;
}

.footer_rightside span {
    line-height: 25px;
}

.footer_underline {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 2px solid #d8d8d8;
}

.copyright {
    color: #816969;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
}

.icons img {
    cursor: pointer;
    margin-right: 15px;
}